<ng-container *ngIf="!session">
	<button type="button" (click)="createSession()">Create Session</button>
</ng-container>

<ng-container *ngIf="session">
	<input
		class="btn btn-large btn-danger"
		type="button"
		id="buttonLeaveSession"
		(click)="leaveSession()"
		value="Leave session"
	/>
	<div *ngIf="subscriber">
		<mig-video [streamManager]="subscriber"></mig-video>
	</div>
	<ng-container *ngIf="mainStreamManager">
		<mig-video [streamManager]="mainStreamManager" [hidden]="true"></mig-video>
	</ng-container>
</ng-container>
