<div class="client-notification">
	<div class="notification">
		Уважаем{{ data.sex === sex.MALE ? 'ый' : 'ая' }} {{ data.name }}, Ваша анкета принята для обработки данных.<br />
		Ответ на Ваш запрос в кратчайшее время Вы получите SMS-сообщением на предоставленный <br />
		Вами мобильный телефон {{ data.maskedPhone }}<br />
		В случае положительного ответа, просьба в течение 12 часов обратиться к нашему Оператору<br />
		для окончательного оформления сделки (при себе необходимо иметь личный паспорт).<br />
		<br />
		<br />
		Спасибо, что обратились к нам и надеемся на дальнейшее плодотворное сотрудничество.<br />
		С уважением и благодарностью, команда migcredit.by

		<div class="btn-ok">
			<button type="button" class="p-button-outlined" (click)="ok()" pButton>Понятно</button>
		</div>
	</div>
</div>
