/* You can add global styles to this file, and also import other style files */
* {
	font-family: Montserrat;
	font-style: normal;
	color: #30404d;
}

.field-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.divider {
	border-bottom: 2px solid #30404d;
	height: 1px;
	width: 100%;
	margin-bottom: 10px;
}

.unit-header {
	font-size: 20px;
	font-weight: 600;
	padding: 15px 0 5px 0;
}

.p-dialog .p-dialog-footer button {
	background: #ffffff;
	border: 1px solid #38b2ed;
	&:focus {
		background: #38b2ed;
	}
}
