:host {
	.wrapper {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.main-container {
			display: flex;
			height: 97vh;
			width: 100%;
			// height: 100%;
		}
	}
	.app-form-container {
		width: 100%;
		height: 98vh;
		overflow-y: auto;
	}
	.app-video-container {
		direction: rtl;
		overflow-y: auto;
		width: 100%;
	}
}
